.main-col-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f7;
}

.inner-col {
    align-items: center;
    justify-content: space-around;
    background-color: #f2f3f7;
    flex-direction: row;
}

.button-col {
    margin-top: 9%;
    display: flex;
}

.buy-now-pri-btn {
    background-color: #ED302C;
    padding: 5vmin 10vmin;
    display: flex;
    align-items: center;
    color: #fff !important;
    font-weight: bold;
    box-shadow: 0 1px 4px -1px #e2201c;
    width: fit-content;
}

.buy-now-pri-btn:hover {
    background-color: #e2201c !important;
}

.buy-now-link-btn {
    display: flex;
    align-items: center;
    padding: 5vmin 5vmin;
    font-weight: bold;
    color: #000 !important;
}

.smart-watch {
    position: absolute;
    top: -70px;
    right: 0;
}

.image-div {
    box-shadow: 2px 8px 15px 2px #d6d6d6;
    border-radius: 50%;
    padding: 5%;
}

.product-img {
    position: relative;
}

.small-heading {
    line-height: 10px;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 3vmin;
    color: #ED302C;
}

.main-heading {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    font-size: 9vmin;
}

@media only screen and (min-width: 250px) {
    .main-col {
        padding: 6% 6% 6% 6%;
    }
    .main-col-two{
        padding: 6% 0%;
    }
    .inner-col{
        flex-direction: column-reverse;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
    }

    .main-heading {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        line-height: 45px;
        font-size: 7vmin;
    }

    .small-heading {
        text-align: center;
    }

    .main-col-two {
        display: flex;
    }
}

@media only screen and (min-width: 860px) {
    .main-col {
        padding: 0% 0% 0% 6%;
    }

    .main-col-two{
        padding: 0% 0%;
    }

    .main-heading {
        display: flex;
        text-align: left;
        line-height: 65px;
        font-size: 9vmin;
    }

    .small-heading {
        text-align: left;
    }

    .btn-container {
        display: flex;
        justify-content: start;
        margin-bottom: 0%;
    }

    .main-col-two {
        display: flex;
    }

    .inner-col {
        height: 100vh;
        flex-direction: row;
    }
}