.fourth-section-main-col{
    height: 150vh;
    margin-top: 10%;
    text-align: center;
}
.fourth-decp-text{
    font-family: 'Rubik', sans-serif;
    font-size: 2vmin;
    font-weight: 400;
}
.group-img{
    width: 100% !important;
    margin-top: 3%;
}
.buy-now-btn-col{
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}