.fourth-section-main-col {
    text-align: center;
}

.fourth-decp-text {
    font-family: 'Rubik', sans-serif;
    font-size: 2.5vmin;
    font-weight: 400;
}

.group-img {
    width: 85% !important;
    margin-top: 3%;
}

.buy-now-btn-col {
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 250px) {
    .fourth-section-main-col {
        height: 60vh;
    }
    .fourth-section-main-col {
        margin-top: 0%;
    }
}

@media only screen and (min-width: 860px) {
    .fourth-section-main-col {
        height: 150vh;
    }
    .fourth-section-main-col {
        margin-top: 0%;
    }
}