.second-section-main-col{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}
.descp-text{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #777586;
}
.watch-feature-text{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    line-height: 25px;
    margin-left: 1%;
}
.features-col{
    display: flex;
}
.buy-now-pri-sec-btn{
    padding: 4vmin 8vmin;
    margin-top: 6%;
}