.second-section-main-col {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.left-img-container {
    display: flex;
    justify-content: center;
}

.descp-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #777586;
    display: flex;
    text-align: center;
}

.watch-feature-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-left: 1%;
    margin: 1% 0%;
}

.descp-text-conatiner {
    margin-top: 2%;
}

.features-col {
    display: flex;
    align-items: center;
    gap: 15px;
}

.buy-now-pri-sec-btn {
    padding: 4vmin 8vmin;
    margin-top: 6%;
}

.side-text-smart {
    color: #EAEAEA;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 10vmin;
    position: absolute;
    right: -60px;
    bottom: 0;
    transform: rotate(90deg);
}

@media only screen and (min-width: 250px) {
    .left-img {
        width: 280px !important;
    }

    .side-text-smart {
        display: none;
    }

    .head-text-conatiner {
        text-align: center;
        margin-top: -30%;
    }

    .descp-text-conatiner {
        display: flex;
        justify-content: center;
    }

    .descp-text {
        display: flex;
        text-align: center;
    }

    .right-content{
        padding: 0% 6%;
    }
}

@media only screen and (min-width: 860px) {
    .left-img {
        width: 357px !important;
    }

    .side-text-smart {
        display: flex;
    }

    .head-text-conatiner {
        text-align: left;
        margin-top: 0%;
    }

    .descp-text-conatiner {
        display: flex;
        justify-content: start;
    }

    .descp-text {
        display: flex;
        text-align: left;
    }

    .right-content{
        padding: 0% 0%;
    }
}