.third-section-main-col {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #251f1f, #44322f);
}

.icon-image {
  background-color: #ff9f84;
  display: inline;
  border-radius: 50%;
  padding: 12px;
}

.watch-usage-inner-col {
  text-align: left;
  padding-top: 20px;
}

.watch-usage-text {
  font-family: "Rubik", sans-serif;
  font-size: 2vmin;
  font-weight: 400;
  line-height: 30px;
  margin-left: 4%;
  color: #fff;
}

.btn-watch-usage {
  margin-top: 10%;
  margin-left: 10%;
  padding: 4vmin 8vmin;
}

.usage-image-one {
  position: absolute;
  left: 200px;
  top: 80px;
}

.usage-image-two-col {
  overflow: hidden;
  height: 120vh;
}

.side-text-watch {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-size: 10vmin;
  color: #282121;
  position: absolute;
  right: -60px;
  top: 100px;
  transform: rotate(90deg);
}


@media only screen and (min-width: 250px) {
  .third-section-main-col {
    flex-direction: column-reverse;
    padding-top: 10%;
    height: 80vh;
  }


  .watch-usage-text{
    font-size: 3vmin;
  }

  .btn-watch-usage{
    margin-top: 10%;
    margin-left: 30%;
    padding: 6vmin 10vmin;
  }

  .third-head-container{
    padding-left: 0%;
  }

  .usage-image-one {
    display: none;
  }

  .side-text-watch {
    display: none;
  }

  .watch-usage-inner-col {
    padding-left: 20px;
  }
}


@media only screen and (min-width: 860px) {
  .third-section-main-col {
    flex-direction: row;
    padding-top: 0%;
    height: 120vh;
  }

  .third-left-container{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .third-head-container{
    padding-left: 8%;
  }

  .side-text-watch {
    display: flex;
  }

  .sage-image-two-col {
    display: flex;
  }

  .watch-usage-inner-col {
    padding-left: 50px;
  }
}