.header{
  box-shadow: 0 1px 7px -1px rgba(60, 60, 60, 0.2);
  padding: 23px;
}

.navbar-items-container{
  margin-left: 390px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar-item{
  font-weight: 500 !important;
}

.navbar-item:hover{
  color: red !important;
}

/* logo */
.navbar-logo-container{
  padding-left: 140px;
  display: flex;
  position: absolute;
  justify-content: center;
}

.logo{
  margin-top: -10px;
}

.navbar-icons-container{
  gap: 30px;
  display: flex;
  justify-content: center;
}

.navbar-icons{
  cursor: pointer;
}