.about-third-right .right {
  width: fit-content;
  position: relative;
}

.about-third-right .right .ant-image:nth-child(2) {
  position: absolute;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.third-sec-img-content .title {
  display: block;
  color: #19020e;
  font-family: "Rubik", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px;
  /* 106.25% */
  margin-bottom: 35px;
}

.third-sec-img-content .sub-title {
  color: #19020e;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

@media only screen and (min-width: 250px) {
  .inner-content {
    bottom: 250px;
  }

  .third-sec-watch-img {
    display: none;
  }

  .third-sec-img-content{
    margin-left: -10%;
    width: 500px;
  }

  .inner-img {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  .inner-content {
    bottom: 200px;
  }

  .third-sec-img-content{
    margin-left: -40%;
    width: fit-content;
  }

  .third-sec-watch-img {
    display: flex
  }

  .inner-img {
    display: flex;
  }
}