.about-third-right .right {
  width: fit-content;
  position: relative;
}
.about-third-right .right .ant-image:nth-child(2) {
  position: absolute;
  top: 52%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.img-content .title {
  display: block;
  color: #19020e;
  leading-trim: both;
  text-edge: cap;
  font-family: "Rubik", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 85px; /* 106.25% */
  margin-bottom: 35px;
}
.img-content .sub-title {
  color: #19020e;
  leading-trim: both;
  text-edge: cap;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.img-content {
  width: 465px;
}
