.prod-two-img{
    position: absolute;
    top: -470px;
    left: 150px;
}
.prod-two-decp{
    font-family: 'Rubik', sans-serif;
    color: #eee !important;
    position: absolute;
}
.prod-tow-col{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
}
.price-text{
    color: #fff !important;
    font-family: 'Rubik', sans-serif;
    line-height: 85px !important;
}
.prod-two-btn{
    padding: 4vmin 8vmin;
    width: fit-content;
}